[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/morpho-utils"]
	path = lib/morpho-utils
	url = https://github.com/morpho-org/morpho-utils
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
