[profile.default]
libs = ["lib"]
names = true
sizes = true
via_ir = true
optimizer = true
optimizer_runs = 999999
bytecode_hash = "none"
evm_version = "paris"

[profile.default.invariant]
runs = 1024
depth = 32
fail_on_revert = true

[profile.default.fmt]
wrap_comments = true

[lint]
exclude_lints = [
    "unaliased-plain-import",
    "asm-keccak256",
    "unwrapped-modifier-logic",
]
ignore = [
    'test/**/*.sol'
]

# See more config options https://github.com/foundry-rs/foundry/tree/master/crates/config
