name: Foundry

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: foundry-rs/foundry-toolchain@v1
      - run: forge fmt --check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: foundry-rs/foundry-toolchain@v1
      - run: forge test -vvv
        env:
          FOUNDRY_FUZZ_RUNS: 10000
          FOUNDRY_FUZZ_MAX_TEST_REJECTS: 500000
          FOUNDRY_INVARIANT_RUNS: 10000
          FOUNDRY_INVARIANT_DEPTH: 32
