name: Halmos

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: ">=3.9"
      - uses: foundry-rs/foundry-toolchain@v1
      - run: pip install halmos
      - run: halmos
